<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">

    <!--@thymesVar id="busInfo" type="training.busboard.web.BusInfo"-->

    <head>
        <title>Bus Information</title>
    </head>
    <body>
        <div layout:fragment="content" class="container body-content">
            <h2>Bus Information</h2>
            <div>
<!--                <p>You entered postcode <span th:text="${busInfo.postcode}"></span></p>-->
                <table>
                    <tr th:each="arrival : ${busInfo.arrivals}">
                        <td th:text="${arrival.destinationName}"></td>
                        <td th:text="${arrival.direction}"></td>
                        <td th:text="${arrival.expectedArrival}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>